@model DatatableCRUD.Models.Table

<h2>Delete</h2>

@using (Html.BeginForm("delete", "home", FormMethod.Post, new { id = "popupform" }))
{
    @Html.HiddenFor(a=>a.Employee_Id)
    <div>
        <label>First Name</label>
        <p>@Model.Firstname</p>
    </div>

    <div>
        <label>Last Name</label>
        <p>@Model.LastName</p>
    </div>

    <div>
        <label>Emial</label>
        <p>@Model.EmialID</p>
    </div>

    <div>
        <label>City</label>
        <p>@Model.City</p>
    </div>

    <div>
        <label>Country</label>
        <p>@Model.Country</p>
    </div>

    <div>
        <input type="submit" value="delete" />
    </div>
}
