@model AmazingRaceMVC.Models.Event
<script>
    $(function () {
        $("#datepicker").datepicker();
    });
</script>
@{
    ViewBag.Title = "Manage Events";
    Layout = "~/Views/Shared/_StaffMenu.cshtml";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="~/Content/themes/base/jquery-ui.css" />
<link href="~/Content/map.css" rel="stylesheet" />

<div style="width:90%; margin:auto" class="tablecontainer">
    <button type="button" id="addNewEvent" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="margin-bottom:5px; margin-top:5px;">Add New Event</button>

    <div class="rectBox"></div>
    <table id="Event_table">
        <thead>
            <tr>
                <th>Event Name</th>
                <th>Event Date</th>
                <th>City</th>
                <th>Pitstops</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
    </table>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg" style="position:initial; height : 500px">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Save Event</h4>
                </div>
                <div class="modal-body">
                    <div id="successDiv" class="alert alert-success hidden"></div>
                    <div id="failDiv" class="alert alert-danger hidden"></div>

                    <form method="post" id="eventAddForm">
                        @Html.HiddenFor(a => a.Id, new { Id = "eventId" })
                        <div class="form-group">
                            <label>Event Name</label> <span style="color:red"> *</span>
                            @Html.TextBoxFor(a => a.EventName, new { @class = "form-control", autocomplete = "off" })
                            @Html.ValidationMessageFor(a => a.EventName)
                        </div>
                        <div class="form-group">
                            <label>Event Date</label> <span style="color:red"> *</span>
                            @Html.TextBoxFor(a => a.EventDateTime, new { @class = "form-control", Id = "datepicker", @readonly = "true", autocomplete = "off" })
                            @Html.ValidationMessageFor(a => a.EventDateTime)
                        </div>
                        <div class="form-group">
                            <label>City</label> <span style="color:red"> *</span>
                            @Html.TextBoxFor(a => a.City, new { @class = "form-control", autocomplete = "off" })
                            @Html.ValidationMessageFor(a => a.City)
                        </div>
                        <div class="form-group">
                            <label>Choose Pitstops</label> <span style="color:red"> *</span>
                            <div id="map"></div>
                        </div>
                        <div>
                            <button type="submit" value="save" class="btn btn-success">Save</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    @*delete modal*@
    <div class="modal fade" id="myDeleteModal" role="dialog">
        <div class="modal-dialog" style="left : 0%">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Event</h4>
                </div>
                <div class="modal-body">
                    <div id="successDiv" class="alert alert-success hidden"></div>
                    <div id="failDiv" class="alert alert-danger hidden"></div>
                    <input type="hidden" id="eventId" />
                    <span>Are you sure want to delete this Event?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" id="deletePopupBtn" class="btn btn-danger" data-dismiss="modal">Delete</button>
                </div>
            </div>
        </div>
    </div>

    @*Pitstop modal*@
    <div class="modal fade" id="myPitstopModal" role="dialog">
        <div class="modal-dialog" style="left : 0%">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Save Pitstops</h4>
                </div>
                <div class="modal-body">
                    <h3>Pitstop Map will come here </h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" id="pitstopPopupBtn" class="btn btn-success" data-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts2 {

    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script src="~/Scripts/jquery.easing.1.3.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBU9Apji828jugAavQUu7ZSaPOqWxau-nQ"></script>/>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script> -->
    <script src="~/Scripts/markerAnimate.js"></script>
    <script src="~/Scripts/SlidingMarker.min.js"></script>
    <script src="~/Scripts/EventDisplayGrid.js"></script>
}