@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/menu.css" rel="stylesheet" />
<nav class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Amazing Race</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                <li class="active">@Html.ActionLink("Events", "Index", "Event")</li>
                <li class="active">@Html.ActionLink("Teams", "Index", "Team")</li>
                <li class="active">@Html.ActionLink("Manage Staff", "Index", "Staff")</li>
                <li class="active">@Html.ActionLink("Live Event Map", "Index", "Team")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (@Session["Username"] != null && !string.IsNullOrEmpty(@Session["Username"].ToString()))
                {
                    <li><p class="navbar-text"> Welcome @Session["Username"].ToString() </p></li>
                }
                <li>
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.ActionLink("Logout", "LogOff", "Login")
                </li>
            </ul>
        </div>
    </div>
</nav>
@RenderBody()
@section scripts {
    <script src="https://cdn.dataTables.net/1.10.13/js/jquery.dataTables.min.js"></script>
}

@section scripts1 {
    @RenderSection("scripts2", required: false)
}