@model Models.Team

@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_StaffMenu.cshtml";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="~/Content/themes/base/jquery-ui.min.css" />

<div style="width:90%; margin:auto" class="tablecontainer">
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add New Team</button>
    <table id="team_table">
        <thead>
            <tr>
                <th>Team Name</th>
                <th>Details</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog" style="left : 0%">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Save Team</h4>
                </div>
                <div class="modal-body">

                    <form method="post" id="PopupSaveForm">
                        @Html.HiddenFor(a => a.ID, new { Id = "teamId" })
                        <div class="form-group">
                            <label>Team Name</label>
                            @Html.TextBoxFor(a => a.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.Name)
                        </div>
                        <div class="form-group">
                            <label>Photo</label>
                            <div class="panel panel-body" style="min-height:256px">
                                <div class="col-md-9">
                                    <div class="col-md-4">
                                        <div class="btn btn-primary">
                                            <input type="file" id="imageBrowes" />
                                        </div>
                                        <hr />
                                        <div id="imgPreview" class="thumbnail" style="display:none">
                                            <img class="img-responsive" id="targetImg" />
                                            <div class="caption">
                                                <a href="#" id="clearPreview"><i class="glyphicon glyphicon-trash"></i></a>
                                                <span id="description"></span>
                                            </div>
                                            <a href="#" id="uploadImage" class="btn btn-default">Upload</a>
                                        </div>                                        
                                    </div>
                                </div>
                                </div>
                                @Html.HiddenFor(a => a.ImagePath, new { id = "imagepath" })
                                <div class="dropdown" id="container">
                                    @Html.DropDownList("Event_ID", null, "Choose Events", new { @class = "btn btn-primary dropdown-toggle" })
                                </div>
                           
                        </div>                       
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" value="save" class="btn btn-success">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@*delete modal*@
<div class="modal fade" id="myDeleteModal" role="dialog">
    <div class="modal-dialog" style="left : 0%">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Staff</h4>
            </div>
            <div class="modal-body">
                <div id="successDiv" class="alert alert-success hidden"></div>
                <div id="failDiv" class="alert alert-danger hidden"></div>
                <input type="hidden" id="staffId" />
                <span>Are you sure want to delete this Staff?</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" id="deletePopupBtn" class="btn btn-danger" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>

@*detail modal*@
<div class="modal fade" id="myDetailModal" role="dialog">
    <div class="modal-dialog" style="left : 0%">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Team Details</h4>
            </div>
            @*<div class="modal-body" id="myTeamDetail">*@
            <div class="modal-body">
                <div>
                    <label>Team Name</label>
                    <div id="teamName"></div>
                </div>

                <div>
                    <label>Team Photo</label>                
                    <div id="uploadedImage">
                        
                    </div>        
                <hr />
                <div>
                    <label>Enrolled Events</label>
                    <div id="teamEnrolledEvents"></div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel-detail">Cancel</button>
            </div>
        </div>
    </div>
</div>


@section scripts2 {
    <script src="~/Scripts/TeamDisplay.js"></script>
}





